body {
  background: black;
  color: #fff;
  margin: 0 auto;
}

/*
----------------------------------
Text
----------------------------------
*/

p {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight:200;
  line-height: 1.8;
}
a {
  color:#fff;
  text-decoration:none;
  transition:0.3s ease;
}
span.arrow-icn {
    display: inline-block;
    width: 20px;
    height: auto;
    margin-left: 0.5rem;
    transition:0.3s ease;
}
a:hover {
  color:#fff;
  opacity:0.8;
  text-decoration:none;

  span.arrow-icn {
      margin-left: 1rem;
  }
}
.header {
    // position: absolute;
    width: 100%;
    z-index: 1;

    ul.menu {
        display: inline-block;
        list-style: none;
    }

    ul.menu li {
        display: inline-block;
        padding-left: 2rem;
    }
}
.section-one {
  padding-bottom: 1rem;
  border-bottom: 1px solid #ffffff2e;
  margin-bottom: 3rem;
}

a.btn, .btn-primary {
  display: inline-block;
  background-color:#000;
  color: white;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  margin-bottom:3em;
  border-radius: 0;
  box-shadow: -5px 5px 0px white;
  transition: 0.2s ease;
}

a.btn:hover, .btn-primary:hover {
  box-shadow: -2px 2px 0px white;
  background-color:#000;
  border: 1px solid white;
}

.btn-primary:active {
  box-shadow: -2px 2px 0px white;
  background-color:#000;
  border: 1px solid white;
}

.container.skills {
    padding-bottom: 4rem;
    border-bottom: 1px solid #ffffff2e;
    margin-bottom: 3rem;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 700;
  font-size: 3.5rem;
  line-height:1;
  margin-bottom:2.5rem;

  @media only screen and (max-width: 480px) {
    font-size:1.55rem;
    line-height:1.25;
  }
}
h1.work{
    font-size:2.5rem;

    @media only screen and (max-width: 480px) {
      font-size:1.55rem;
      line-height:1.25;
    }
}
.extra-box {
  padding-top:1rem;

  h4.extra-info {
      font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      font-weight: 400;
      font-size: 1.25rem;
      margin-bottom: 1.25rem;
      padding-bottom: 1.25rem;
      border-bottom:1px solid #ffffff2e;
  }
  h5.extra-desc {
      font-size: 0.75rem;
      font-weight: 400;
      margin-bottom:10px;
  }
}

img.green-pattern {
    position: absolute;
    right: 70px;
    top: 25rem;
    width: auto;
    height: 170px;
    z-index: -2;
}
section.row.skills {
  h4 {
    font-weight:500;
    font-size:1.25rem;
    margin-bottom:1rem;
  }
}
.col-md-4.text-center {
    padding: 2rem;
}
.col-12.text-center {
  padding: 1.5rem;
  border: 1px solid #ffffff2e;
}
img.hero-bg {
    position: absolute;
    opacity:0.5;
    top: 0;
    left:0;
    z-index: -1;
}
span.icon {
    display: block;
    height: auto;
    width: 10rem;
    margin: 0 auto;
}
.col-md-9.work-item {
    padding-bottom: 2rem;
    border-bottom: 1px solid #2e2e2e;
    margin-bottom: 3rem;

    h4 {
      margin-bottom:1rem;
    }

    h5.extra-desc {
        font-size: 0.75rem;
    }
}
section.row.title {
  margin-bottom:3rem;
}
.section-title {
  margin-bottom:2rem;
}
.copyright p {
    font-size: 0.7rem;
}
.work-link {
  display:inline-block;
  margin-bottom:2rem;
}
.form-control {
  background: #000;
  opacity:0.7;
  color: #fff;
  border-radius: 0px;
  margin-bottom:1.75rem;
}
.form-control:focus {
    color: #fff;
    background-color: #000;
    border:1px solid #fff;
    opacity:1;
    outline: 0;
    box-shadow: none;
}
label {
    display: inline-block;
    margin-bottom: 0.75rem;
}
section.row.about {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #2e2e2e;
}
section.row.tools {
    margin-bottom: 3rem;
}